*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*-frn.tex
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.lol
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.sublime-project
*.sublime-workspace
*.run.xml
*-blx.bib
*~
*.o
programs/c++/decoupling/main
programs/c++/decoupling/*.txt
programs/c++/decoupling/*.pdf
*.str
figures/FeynmanRules/*.eps
figures/FeynmanRules/*.pdf
figures/running
figures/SM/*.pdf
programs/c++/decoupling/.vscode
*.model
programs/form/higgs_form_factor/IBP
figures/gluon_fusion/LO.eps
figures/NLO/*.eps
figures/NLO/*.pdf
